body{
	font-size: 15px;
}

table{
	width:100%;
}

.movie_list{
	margin-top:2rem;
}

#logo{
	color:#c2d80a
}

ul{
	padding-left:0;
}

ul li{
	list-style-type: none;
}

#date_info{
	margin-top:4rem;
}

.movie_container{
	margin-top:5rem;
}

#information li{
	margin-top:7px;
}

#plot{
	font-style: italic;
}

.poster{
	min-width:180px;
	height: auto
}
